<!DOCTYPE html>
<html lang="en">
<head>
    <title>My App: {{inputs.project_name}}</title>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge, chrome=1" />
</head>
<body>
<div class="wrapper">
    <a href="https://www.stackspot.com" class="logo" target="_blank" rel="noopener noreferrer">
        <img src="logo.png" alt="StackSpot" />
    </a>
    <div class="illustration">
        <img src="img.png" alt="illustration" />
    </div>
    <div>
        <h1 class="title">{{ inputs.greeting_message }} Stacker!</h1>
        <p class="description">
            <br>Congratulations for getting here! </br>
            <br>Now that you know our product, how about creating something real!
            </br>
            <br>Using our studios you will be able to create an API in minutes, let's give it a try?</br></p>
    </div>
    <a href="https://www.stackspot.com/studios" class="button" target="_blank" rel="noopener noreferrer">Visit Studios </a>
</div>
</body>
</html>